.git/
.venv/
.venv_dev/
.tox/
releases/
test/
.idea/
_update_temp_dir/
card_secrets/

.coverage
.use_by_myself
.sync_configs_done
.run_env
config.toml.github_action*
config.toml.local
coverage.xml
add_new_buy_auto_updater_user.py
pay_by_month.py
test.py
upload_cookie.json

**/*.mypy_cache
**/*.pytest_cache
**/__pycache__
**/.cached
**/.db
**/.first_run
**/logs
**/chrome_portable_*

**/*.dll
**/*.exe
**/*.7z
**/.log.filename
