.git/
.venv/
.venv_dev/
releases/
test/
utils/npp_portable/
付费指引/
使用教程/
.idea/
_update_temp_dir/
card_secrets/
reversi_images

.coverage
.use_by_myself
config.toml.github_action
config.toml.local
coverage.xml
add_new_buy_auto_updater_user.py
pay_by_month.py
test.py
upload_cookie.json
reversi.py

**/*.mypy_cache
**/*.pytest_cache
**/__pycache__
**/.cached
**/.db
**/.first_run
**/logs
**/chrome_portable_*

**/*.dll
**/*.exe
**/*.7z
**/.log.filename
