.idea/
__pycache__/
logs/
debug.log
.venv

test/
test.py

start.bat
*.lnk

.first_run/
.cached/
.db/

config.toml.local
upload_cookie.json

道聚城助手.exe
DNF蚊子腿小助手.exe
releases/
utils/auto_updater.exe
_update_temp_dir/

chrome_portable_87/