.idea/
__pycache__/
logs/
debug.log
.venv/
.venv_dev/
.tox/
.coverage
coverage.xml

test/
test.py
demo_*.py

start_config_ui.bat
*.lnk

**/.first_run/
**/.cached/
**/.db/
**/.db_v2/
**/.log.filename

config.toml.local
config.toml.github_action*
upload_cookie.json

道聚城助手.exe
DNF蚊子腿小助手.exe
DNF蚊子腿小助手配置工具.exe
DNF蚊子腿小助手_集卡特别版.exe
DNF蚊子腿小助手_我的小屋特别版.exe
*集卡单独版本.exe

releases/

utils/auto_updater.exe
utils/chrome*.download
utils/chrome_temporary_dir/

utils/chrome_portable_*.7z
utils/chromedriver_*.exe
utils/chromedriver.exe

_update_temp_dir/

**/chrome_portable_*/

.use_by_myself
.sync_configs_done
.run_env

ark_lottery_special_version_customized.py

pay_by_month.py
add_new_buy_auto_updater_user.py
card_secrets/
