# 本配置文件仅包含普通用户需要的一些配置，完整配置项请参照config.toml.example，有需求可自行将对应配置项添加到本配置文件中

# 所有账号共用的配置
[common]
# 是否启用自动更新功能
auto_update_on_start = true

# 自动赠送卡片的目标QQ数组，这些QQ必须是配置的账号之一，若配置则会在程序结束时尝试从其他小号赠送卡片给这些账号，且这些账号不会赠送卡片给其他账号，若不配置则不启用。
# 赠送策略为：如果该QQ仍有可兑换奖励，将赠送目标QQ最需要的卡片；否则将赠送目标QQ其他QQ最富余的卡片
# 依次赠送给一到三个QQ的示例如下，更多赠送目标则类推
#   想要其他账号赠送卡片给1个QQ 123456
#   auto_send_card_target_qqs = ["123456"]
#   想要其他账号赠送卡片给2个QQ 123456和654321
#   auto_send_card_target_qqs = ["123456", "654321"]
#   想要其他账号赠送卡片给3个QQ 123456和654321和111111
#   auto_send_card_target_qqs = ["123456", "654321", "111111"]
auto_send_card_target_qqs = []

# 赛利亚活动拜访目标QQ列表
# 依次拜访给一到三个QQ的示例如下，更多拜访目标则类推
#   想要其他账号拜访1个QQ 123456
#   sailiyam_visit_target_qqs = ["123456"]
#   想要其他账号拜访2个QQ 123456和654321
#   sailiyam_visit_target_qqs = ["123456", "654321"]
#   想要其他账号拜访3个QQ 123456和654321和111111
#   sailiyam_visit_target_qqs = ["123456", "654321", "111111"]
sailiyam_visit_target_qqs = []

# 心悦相关配置
[common.xinyue]
# 在每日几点后才尝试提交心悦的成就点任务，避免在没有上游戏时执行心悦成就点任务，导致高成就点的任务没法完成，只能完成低成就点的
submit_task_after = 0

# 固定队相关配置。用于本地三个号来组成一个固定队伍，完成心悦任务。
[[common.fixed_teams]]
# 是否启用该固定队
enable = false
# 固定队伍id，仅用于本地区分用
id = "1"
# 固定队成员，必须是三个，则必须都配置在本地的账号列表中了，否则将报错，不生效
# 示例：小队成员为3个QQ 123456和654321和111111
#   members = ["123456", "654321", "111111"]
members = ["小队第一个账号的QQ号", "小队第二个账号的QQ号", "小队第三个账号的QQ号"]

# 第二个固定队，更多的固定队则以此类推
[[common.fixed_teams]]
# 是否启用该固定队
enable = false
# 固定队伍id，仅用于本地区分用
id = "2"
# 固定队成员，必须是三个，则必须都配置在本地的账号列表中了，否则将报错，不生效
# 示例：小队成员为3个QQ 123456和654321和111111
#   members = ["123456", "654321", "111111"]
members = ["小队第一个账号的QQ号", "小队第二个账号的QQ号", "小队第三个账号的QQ号"]

# ---------------------------第1个账号相关配置开始-----------------------------
[[account_configs]]
# 是否启用该账号
enable = true

# 账号名称，仅用于区分不同账号
name = "默认账号_不同账号请取不同名字"

# 登录模式
# by_hand：      手动登录，在skey无效的情况下会弹出活动界面，自行登录后将cookie中uin和skey提取到下面的配置处
# qr_login：     二维码登录，每次运行时若本地缓存的.skey文件中存储的skey过期了，则弹出登录页面，扫描二维码后将自动更新skey，进行后续操作
# auto_login：   自动登录，每次运行若本地缓存的.skey文件中存储的skey过期了，根据填写的账密信息，自动登录来获取uin和skey，无需手动操作
login_mode = "qr_login"

# 是否无法在道聚城绑定dnf，比如被封禁或者是朋友的QQ（主要用于小号，被风控不能注册dnf账号，但是不影响用来当抽卡等活动的工具人）
cannot_bind_dnf = false

# 各功能开关，true表示开启，false表示关闭
# 示例如下：
# 开启领取道聚城
#   get_djc = true
# 关闭领取道聚城
#   get_djc = false
[account_configs.function_switches]
# ------------ 全局禁用开关 ------------
# 是否禁用各种活动，供小号使用，这样新增的各种活动都将被禁用
# 例外情况：道聚城、许愿、心悦特权专区、集卡这四个活动不受该配置项影响
# 如果想要单独设置各个活动的开关，请不要设置这个配置项，否则各个新活动都会被禁用
disable_most_activities = false

# ------------ 普通skey（需要登录 炎炎夏日 活动页面 获取） ------------
# 是否领取道聚城
get_djc = true
# 是否启用许愿功能，用于完成《有理想》。目前仅限安卓版本道聚城上绑定王者荣耀时可使用
make_wish = true
# 是否领取心悦特权专区
get_xinyue = true
# 是否领取腾讯游戏信用相关礼包
get_credit_xinyue_gift = true
# 是否领取每月黑钻等级礼包
get_heizuan_gift = true
# 是否领取DNF进击吧赛利亚活动
get_xinyue_sailiyam = true
# 是否领取wegame国庆活动
get_wegame_guoqing = true
# 是否领取史诗之路来袭活动合集活动
get_dnf_1224 = true
# 是否领取DNF闪光杯第三期活动
get_dnf_shanguang = true
# 是否领取qq视频活动
get_qq_video = true
# 是否领取10月女法师三觉活动
get_dnf_female_mage_awaken = true
# 是否领取DNF助手排行榜活动，额外需要助手userId和token
get_dnf_rank = true
# 是否领取dnf助手编年史活动，额外需要助手userId
get_dnf_helper_chronicle = true
# 是否启用hello语音奖励兑换功能，额外需要hello语音的用户ID
get_hello_voice = true
# 是否领取2020DNF嘉年华页面主页面签到活动
get_dnf_carnival = true
# 是否DNF共创投票
get_dnf_dianzan = true
# 是否领取DNF福利中心兑换
get_dnf_welfare = true
# 是否领取dnf漂流瓶
get_dnf_drift = true
# 是否领取DNF马杰洛的规划第二期
get_majieluo = true
# 是否领取dnf助手双旦活动
get_dnf_helper_christmas = true
# 是否领取暖冬好礼活动
get_warm_winter = true

# ------------ QQ空间pskey（需要登录 QQ空间 获取） ------------
# 是否启用集卡功能
get_ark_lottery = true
# 是否启用阿拉德勇士征集令活动
get_dnf_warriors_call = true

# ------------ 安全管家pskey（需要登录 安全管家 获取） ------------
# 是否领取管家蚊子腿活动
get_guanjia = true

# 腾讯系网页登录通用账号凭据与token
[account_configs.account_info]
# 手动登录需要设置的信息
uin = "o123456789"
skey = "@a1b2c3d4e"
# QQ空间业务群的p_skey，目前用于抽卡活动
qzone_p_skey = "666666eE2KLV6oYFGx2iYZ9b3UtQuwNitJiPGQ52b*w_"

# 自动登录需要设置的信息
account = "123456789"
password = "使用账号密码自动登录有风险_请审慎决定"

# 完成《礼包达人》任务所需的手游的名称信息
[account_configs.mobile_game_role_info]
# 手游名称: 无/任意手游/剑网3:指尖江湖/和平精英/王者荣耀/QQ飞车手游/天天酷跑/其他任意游戏，可参考djc_biz_list.json获取完整列表
game_name = "任意手游"

# 兑换道具信息，其他奖励信息可查阅reference_data/dnf_exchange_list.json
[[account_configs.exchange_items]]
# 兑换两次调整箱
iGoodsId = "753"
sGoodsName = "装备品级调整箱（5个）"
# 表示领取几次这个奖励
count = 2

[[account_configs.exchange_items]]
# 兑换一次疲劳药
iGoodsId = "755"
sGoodsName = "魔界抗疲劳秘药（10点）"
# 表示领取几次这个奖励，千万不要再来群里问怎么设置不兑换疲劳药
count = 1

# 心悦相关操作信息，其他心悦相关信息可查阅reference_data/心悦活动备注.txt
# note: 周期礼包目前在代码中根据心悦级别和白名单信息来自动判定该领取哪一类，无需手动操作，若发现有问题，也可以手动取消注释下列内容来手动启用对应礼包
## ++++++++++周期礼包++++++++++++
#[[account_configs.xinyue_operations]]
## 尝试领取每周礼包（特邀会员）
#iFlowId = "513581"
#sFlowName = "Y600周礼包_特邀会员"
#count = 1
#
#[[account_configs.xinyue_operations]]
## 尝试领取每月礼包（特邀会员）
#iFlowId = "673270"
#sFlowName = "月礼包_特邀会员_20200610后使用"
#count = 1
#
#[[account_configs.xinyue_operations]]
## 尝试领取每周礼包（心悦会员）
#iFlowId = "513573"
#sFlowName = "Y600周礼包"
#count = 1
#
#[[account_configs.xinyue_operations]]
## 尝试领取每月礼包（心悦会员）
#iFlowId = "673269"
#sFlowName = "月礼包_20200610后使用"
#count = 1
#
#[[account_configs.xinyue_operations]]
## 尝试领取周礼包_白名单用户（心悦会员）
#iFlowId = "673262"
#sFlowName = "周礼包_白名单用户"
#count = 1
#
#[[account_configs.xinyue_operations]]
## 尝试领取月礼包_白名单用户（心悦会员）
#iFlowId = "673264"
#sFlowName = "月礼包_白名单用户"
#count = 1
#
#[[account_configs.xinyue_operations]]
## 尝试领取每月累计宝箱（月领取周期礼包达到5个可领取）
#iFlowId = "513585"
#sFlowName = "累计宝箱"
#count = 1

# 下面是可供兑换的道具，默认不开启，可根据需要自行取消注释来启用自动兑换
## --------------- 荣耀战场-勇者宝库（成就点兑换） --------------------
## ++++++++++特邀会员++++++++++++
#[[account_configs.xinyue_operations]]
#iFlowId = "512484"
#sFlowName = "特邀会员兑换心悦称号（最强战王称号）(需260成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "512485"
#sFlowName = "特邀会员兑换腾龙光环(需330成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "512498"
#sFlowName = "特邀会员兑换星空射手光环(需330成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "656611"
#sFlowName = "特邀会员兑换星恋双鱼光环(需330成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "512494"
#sFlowName = "特邀会员兑换心悦宠物_牛小哞(需260成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "512486"
#sFlowName = "特邀会员兑换心悦宠物_羊小咩(需260成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "656648"
#sFlowName = "特邀会员兑换心悦宠物_弓小弦(需260成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "656613"
#sFlowName = "特邀会员兑换心悦宠物_甜小鱼(需280成就点)"
#count = 1
#
#
## ++++++++++心悦会员++++++++++++
#[[account_configs.xinyue_operations]]
#iFlowId = "512487"
#sFlowName = "心悦会员兑换心悦称号（1-最强战王/2-最强战皇/3-最强战神）(需220成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "512488"
#sFlowName = "心悦会员兑换腾龙光环(需280成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "512497"
#sFlowName = "心悦会员兑换星空射手光环(需280成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "656612"
#sFlowName = "心悦会员兑换星恋双鱼光环(需280成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "512495"
#sFlowName = "心悦会员兑换心悦宠物_牛小哞(需220成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "512489"
#sFlowName = "心悦会员兑换心悦宠物_羊小咩(需220成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "656653"
#sFlowName = "心悦会员兑换心悦宠物_弓小弦(需220成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "656614"
#sFlowName = "心悦会员兑换心悦宠物_甜小鱼(需220成就点)"
#count = 1
#
#
## ++++++++++宝库兑换++++++++++++
#[[account_configs.xinyue_operations]]
#iFlowId = "512473"
#sFlowName = "复活币礼袋(日限10)(需8成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "512474"
#sFlowName = "[活动]时间引导石礼盒 (10个)(日限5)(需10成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "512475"
#sFlowName = "抗疲劳秘药50点（95lv以上，1天1次）(日限3)(需50成就点)"
#count = 1
#
#
## ++++++++++礼包兑换++++++++++++
#[[account_configs.xinyue_operations]]
#iFlowId = "512469"
#package_id = "702214"
#sFlowName = "装备品级调整箱(需8点成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "512469"
#package_id = "702216"
#sFlowName = "超级远古精灵秘药（持续30分钟）(需10点成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "512469"
#package_id = "702217"
#sFlowName = "神秘契约礼袋（适用1日）(需20点成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "512469"
#package_id = "702218"
#sFlowName = "装备提升礼盒(需10点成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "512469"
#package_id = "702220"
#sFlowName = "华丽徽章随机礼盒(需20点成就点)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "512469"
#package_id = "702222"
#sFlowName = "升级券(Lv90-94)(月限1)(需50点成就点)"
#count = 1
#
#
#
## --------------- 充值权益（勇士币兑换） --------------------
## ++++++++++普通兑换专场（特邀会员以及心悦会员可兑换）++++++++++++
#[[account_configs.xinyue_operations]]
#iFlowId = "513234"
#sFlowName = "复活币*1(日限100)(需1点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513235"
#sFlowName = "复活币*10(日限100)(需10点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513236"
#sFlowName = "复活币*20(日限100)(需20点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "616809"
#sFlowName = "[活动]时间引导石礼盒 (10个)(日限10)(需28点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513242"
#sFlowName = "神秘契约礼袋（适用1日）(需10点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513251"
#sFlowName = "装备提升礼盒(需30点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513244"
#sFlowName = "抗疲劳秘药（95lv以上,5点,1天1次）(日限3)(需10点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513245"
#sFlowName = "抗疲劳秘药（95lv以上,<br>10点,1天1次）(日限3)(需20点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513246"
#sFlowName = "抗疲劳秘药（95lv以上,<br>20点,1天1次）(日限3)(需40点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513247"
#sFlowName = "抗疲劳秘药（95lv以上,<br>50点,1天1次）(日限3)(需100点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513248"
#sFlowName = "超级远古精灵秘药（持续30分钟）(需25点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513253"
#sFlowName = "金库扩展券(需400点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513256"
#sFlowName = "物品栏扩展券(需150点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513259"
#sFlowName = "升级券（Lv90~94）(需100点勇士币)"
#count = 1
#
#
## ++++++++++心悦兑换专场（心悦会员可兑换）++++++++++++
#[[account_configs.xinyue_operations]]
#iFlowId = "513263"
#sFlowName = "霓裳仙子(需600点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513274"
#sFlowName = "塑身教练先生(需600点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513275"
#sFlowName = "金钱兔(需600点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513276"
#sFlowName = "蛇灵虹霜(需600点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513277"
#sFlowName = "迷你小公主(需600点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513279"
#sFlowName = "迷你艾利斯(需600点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513281"
#sFlowName = "迷你寒冰虎(需600点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513285"
#sFlowName = "亚米(需600点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513286"
#sFlowName = "枫树精灵希尔蒂(需600点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513293"
#sFlowName = "枫树精灵希尔夫(需600点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513294"
#sFlowName = "绿树精灵希尔蒂(需600点勇士币)"
#count = 1
#
#[[account_configs.xinyue_operations]]
#iFlowId = "513295"
#sFlowName = "绿树精灵希尔夫(需600点勇士币)"
#count = 1


# ++++++++++每日任务++++++++++++
# 下列默认尝试按照成就点数从高到低完成任务，可根据自己的游戏习惯进行调整
# 建议设置为在每天比较迟的时间自动运行，这样可以尽可能确保运行的时候任务的条件已达成
[[account_configs.xinyue_operations]]
iFlowId = "512408"
sFlowName = "每月赠送双倍积分卡（仅心悦会员）"
count = 1

# ------------双倍（仅尝试最高级别的，不然比较浪费）----------------
[[account_configs.xinyue_operations]]
iFlowId = "512432"
sFlowName = "充值DNF3000点券_双倍（成就点=6）"
count = 1

[[account_configs.xinyue_operations]]
iFlowId = "512435"
sFlowName = "游戏内消耗疲劳值120_双倍（成就点=6）"
count = 1

[[account_configs.xinyue_operations]]
iFlowId = "512437"
sFlowName = "游戏内在线时长40_双倍（成就点=6）"
count = 1

[[account_configs.xinyue_operations]]
iFlowId = "512441"
sFlowName = "游戏内PK3次_双倍（成就点=6）"
count = 1

# -----------普通------------------
[[account_configs.xinyue_operations]]
iFlowId = "512396"
sFlowName = "充值DNF3000点券（成就点=3）"
count = 1

[[account_configs.xinyue_operations]]
iFlowId = "512398"
sFlowName = "游戏内在线时长40（成就点=3）"
count = 1

[[account_configs.xinyue_operations]]
iFlowId = "512400"
sFlowName = "游戏内消耗疲劳值120（成就点=3）"
count = 1

[[account_configs.xinyue_operations]]
iFlowId = "512402"
sFlowName = "游戏内PK3次（成就点=3）"
count = 1

# -----------免做（仅尝试最高级别的，不然比较浪费）------------------
[[account_configs.xinyue_operations]]
iFlowId = "512490"
sFlowName = "领取每周免做卡"
count = 1

[[account_configs.xinyue_operations]]
iFlowId = "512415"
sFlowName = "充值DNF3000点券_免做（成就点=3）"
count = 1

[[account_configs.xinyue_operations]]
iFlowId = "512418"
sFlowName = "游戏内消耗疲劳值120_免做（成就点=3）"
count = 1

[[account_configs.xinyue_operations]]
iFlowId = "512421"
sFlowName = "游戏内在线时长40_免做（成就点=3）"
count = 1

[[account_configs.xinyue_operations]]
iFlowId = "512424"
sFlowName = "游戏内PK3次_免做（成就点=3）"
count = 1

# -----------如果还没做完三个，尝试一些普通任务，但是免做任务和双倍不尝试非3点的，避免浪费------------------
[[account_configs.xinyue_operations]]
iFlowId = "512395"
sFlowName = "充值DNF2000点券（成就点=2）"
count = 1

[[account_configs.xinyue_operations]]
iFlowId = "512397"
sFlowName = "游戏内在线时长30（成就点=2）"
count = 1

[[account_configs.xinyue_operations]]
iFlowId = "512399"
sFlowName = "游戏内消耗疲劳值50（成就点=2）"
count = 1

[[account_configs.xinyue_operations]]
iFlowId = "512401"
sFlowName = "游戏内PK2次（成就点=2）"
count = 1

[[account_configs.xinyue_operations]]
iFlowId = "512393"
sFlowName = "邮箱无未读邮件（成就点=2）"
count = 1

[[account_configs.xinyue_operations]]
iFlowId = "578321"
sFlowName = "精英赛投票（成就点=未知）"
count = 1

[[account_configs.xinyue_operations]]
iFlowId = "512388"
sFlowName = "充值DNF1000点券（成就点=1）"
count = 1

[[account_configs.xinyue_operations]]
iFlowId = "512389"
sFlowName = "游戏内在线时长15（成就点=1）"
count = 1

[[account_configs.xinyue_operations]]
iFlowId = "512390"
sFlowName = "游戏内消耗疲劳值10（成就点=1）"
count = 1

[[account_configs.xinyue_operations]]
iFlowId = "512391"
sFlowName = "游戏内PK1次（成就点=1）"
count = 1

# 抽卡相关配置
[account_configs.ark_lottery]
# 用于完成幸运勇士的区服ID和角色ID，若服务器ID留空，则使用道聚城绑定的dnf角色信息
lucky_dnf_server_id = "" # 区服id可查阅reference_data/dnf_server_list.js，具体值为每一个服务器配置中的v字段，如{t: "广东三区", v: "22"}表示广东三区的区服ID为"22"
lucky_dnf_role_id = "" # 角色ID，不知道时可以填写区服ID，该数值留空，这样处理到抽卡的时候会用黄色字体打印出来信息

# 是否领取礼包（建议仅大号开启这个功能）
need_take_awards = false

# 活动ID => 是否消耗所有卡牌来抽奖（建议在兑换完所有礼包后再开启这个功能）
# 如果不知道活动ID的话，可以不填，这样工具运行到本账号集卡时，会提示形如下列格式的信息。其中跟在【抽卡活动】字样后面括号里的数字就是当前集卡活动的ID
#   尚未开启抽卡活动(4166)消耗所有卡片来抽奖的功能，建议所有礼包都兑换完成后开启该功能，从而充分利用卡片。
# 示例：
# 开启4166集卡的该功能：
#   4166 = true
# 关闭4166集卡的该功能：
#   4166 = false
[account_configs.ark_lottery.act_id_to_cost_all_cards_and_do_lottery]
# 2020.09.22 征战希洛克集卡抽战灵天舞套！
3886 = false
# 2020.12.14 阿拉德勇士征集令
4166 = false

# wegame国庆活动兑换道具，具体道具的iFlowId和描述可参考reference_data/wegame国庆活动.json
#[[account_configs.wegame_guoqing_exchange_items]]
#iFlowId = "703514"
#sGoodsName = "强化器-4分"
#count = 1
#
#[[account_configs.wegame_guoqing_exchange_items]]
#iFlowId = "703520"
#sGoodsName = "增幅器-4分"
#count = 1
#
#[[account_configs.wegame_guoqing_exchange_items]]
#iFlowId = "703521"
#sGoodsName = "锻造炉-4分"
#count = 1
#
#[[account_configs.wegame_guoqing_exchange_items]]
#iFlowId = "703522"
#sGoodsName = "装备品级调整箱-4分"
#count = 1
#
#[[account_configs.wegame_guoqing_exchange_items]]
#iFlowId = "703523"
#sGoodsName = "魂灭结晶（50个）-4分"
#count = 1
#
#[[account_configs.wegame_guoqing_exchange_items]]
#iFlowId = "703524"
#sGoodsName = "疲劳药-8分"
#count = 1
#
#[[account_configs.wegame_guoqing_exchange_items]]
#iFlowId = "703525"
#sGoodsName = "时间引导石（100个）-12分"
#count = 1
#
#[[account_configs.wegame_guoqing_exchange_items]]
#iFlowId = "703526"
#sGoodsName = "高级装扮兑换券-16分"
#count = 1

# dnf助手信息
[account_configs.dnf_helper_info]
# userId/nickName的获取方式为，点开dnf助手中点开右下角的【我的】，然后点击右上角的【编辑】按钮，则社区ID即为userId，昵称即为nickname，如我的这俩值为504051073、风之凌殇
# 社区ID，形如 504051073
userId = ""
# 昵称，形如 风之凌殇
nickName = ""
# 登录票据，目前需手动更新。
# 流程：
#   1. 打开dnf助手并确保已登录账户，点击活动，找到【艾丽丝的密室，塔罗牌游戏】并点开，点击右上角分享，选择QQ好友，发送给【我的电脑】。
#   2. 在我的电脑聊天框中的链接中找到请求中的token（形如&token=tW7AbaM7，则token为tW7AbaM7），将其进行更新到配置文件中
#
# ps: 如果有多个账号需要领取这个，请不要在手机上依次登入登出执行上述步骤来获取token，因为你在登陆下一个账号的时候，之前的账号的token就因为登出而失效了
#       有这个需求的话，请使用安卓模拟器的多开功能来多开dnf助手去登陆各个账号。如果手机支持多开app，也可以使用对应功能。具体多开流程请自行百度搜索： 手机 app 多开
#
# -------------额外说明信息--------------
# 如果上面这个活动在助手里找不到了，可以试试看其他的活动
# 如果所有活动的转发链接里都找不到token，那么只能手动抓包，从请求的cookie或post data中获取token信息了，具体可以百度 安卓 https 抓包
# 下面给出几种推荐的方案
# 1. 安卓下使用HttpCanary来实现对dnf助手抓包（开启http canary抓包后，打开助手，点击任意一个活动页面，然后去链接或cookie中查找token），可参考
#     1.1 https://httpcanary.com/zh-hans/
#     1.2 抓包流程可参考我录制的操作视频 https://www.bilibili.com/video/BV1az4y1k7bH
# 2. 安卓下 VirtualXposed+JustTrustMe，然后在这里面安装dnf助手和qq，之后挂fiddler的vpn来完成抓包操作，可参考
#     2.1 https://www.jianshu.com/p/a818a0d0aa9f
#     2.2 https://testerhome.com/articles/18609
#     2.3 https://juejin.im/post/6844903602209685517
#     2.4 https://blog.csdn.net/hebbely/article/details/79248077
#     2.5 https://juejin.im/post/6844903831579394055
#     ps：简单说明下，fiddler用于抓https包，由于助手对网络请求做了证书校验，所以需要安装VirtualXposed+JustTrustMe，并在VirtualXposed中去安装运行助手，从而使其校验失效，能够让请求成功
token = ""

# dnf助手编年史是否开启抽奖
chronicle_lottery = false

# dnf助手编年史兑换道具信息，其他奖励信息可查阅reference_data/dnf助手编年史活动_可兑换奖励列表.json
# sLbcode, sName为上述参考配置中的原样字段，count表示每次运行时要尝试领取几次
#[[account_configs.dnf_helper_info.chronicle_exchange_items]]
## 兑换1次一次性材质转换器
#sLbcode = "ex_0001"
#sName = "一次性材质转换器"
## 表示领取几次这个奖励
#count = 1
#
#[[account_configs.dnf_helper_info.chronicle_exchange_items]]
## 兑换2次智慧的引导通行证
#sLbcode = "ex_0002"
#sName = "智慧的引导通行证*1"
## 表示领取几次这个奖励
#count = 2
#
#[[account_configs.dnf_helper_info.chronicle_exchange_items]]
#sLbcode = "ex_0003"
#sName = "装备提升礼盒*1"
## 表示领取几次这个奖励
#count = 3
#
#[[account_configs.dnf_helper_info.chronicle_exchange_items]]
#sLbcode = "ex_0004"
#sName = "华丽的徽章自选礼盒*1"
## 表示领取几次这个奖励
#count = 1
#
#[[account_configs.dnf_helper_info.chronicle_exchange_items]]
#sLbcode = "ex_0005"
#sName = "本职业神器护石随机礼盒*1"
## 表示领取几次这个奖励
#count = 1
#
#[[account_configs.dnf_helper_info.chronicle_exchange_items]]
#sLbcode = "ex_0006"
#sName = "+10装备强化券*1"
## 表示领取几次这个奖励
#count = 1

# hello语音相关信息
[account_configs.hello_voice]
# hello语音的用户ID
# 获取方式：打开hello语音，点击右下角【我的】tab，在最上方头像框的右侧，昵称下方，有形如【ID：XXXXXX】的字样，其中ID后面这串数字就是用户ID
hello_id = ""

# ---------------------------第1个账号相关配置结束-----------------------------

## 多账号的具体配置方式，可以查看使用文档
