pytest==7.0.1
pytest-cov==3.0.0
pytest-randomly==3.11.0
pytest-xdist[psutil]==2.5.0
flake8==4.0.1
isort==5.10.1
coverage==6.3.1
coveralls==3.3.1
tox==3.24.5

types-requests==2.27.10
types-toml==0.10.4
types-selenium==3.141.7
types-psutil==5.8.20
