name: Upload Release Asset

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
  workflow_dispatch:

jobs:
  build:

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: '.python-version'
          cache: 'pip'
          cache-dependency-path: '**/requirements*.txt'

      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -r requirements.txt pyinstaller

      - name: Set time zone
        uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: "Asia/Shanghai"
          timezoneMacos: "Asia/Shanghai"
          timezoneWindows: "China Standard Time"

      - name: Build
        run: |
          python _build.py --disable_douban

      - name: Clear Old Artifact
        run: |
          python _clear_github_artifact.py

      - name: Package
        run: |
          python _package.py

      - name: Generate Changelog For GitHub Release
        run: |
          python _gen_changelog_for_github_release.py

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref }}
          name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
          body_path: ./releases/_github_action_artifact/changelog-github.txt
          generate_release_notes: true
          files: |
            ./releases/_github_action_artifact/djc_helper.7z

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: "djc_helper.7z"
          path: ./releases/_github_action_artifact/djc_helper.7z
