name: Run On Windows

on:
  workflow_dispatch:
  schedule:
    # 参考 https://jasonet.co/posts/scheduled-actions/
    # note: 这里是GMT时间，北京时间减去八小时即可。如北京时间 22:30 => GMT 14:30
    # re: 目前已知在github的action runner上，访问国内相关的接口会大概率超时，如pskey和skey的获取，以及访问道聚城相关接口，故而先测试性的每日十点半运行一次，其他时候就不运行了
    # minute hour day month dayOfWeek
    - cron: '30 14 * * *' # GMT 14:30 => 北京时间 22:30
    #- cron: '30 16 * * *' # GMT 16:30（前一天） => 北京时间 00:30

jobs:
  run:

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
#          python-version-file: '.python-version'
          python-version: '3.8.7'
          cache: 'pip'
          cache-dependency-path: '**/requirements*.txt'

      - name: Install Requirements Windows
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -r requirements.txt

      - name: Set time zone
        uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: "Asia/Shanghai"
          timezoneMacos: "Asia/Shanghai"
          timezoneWindows: "China Standard Time"

      - name: Run
        env:
          DJC_HELPER_CONFIG_TOML: ${{ secrets.DJC_HELPER_CONFIG_TOML }}
        run: |
          echo "$DJC_HELPER_CONFIG_TOML" > ./config.toml
          python main.py
