name: Run On Ubuntu

on:
  workflow_dispatch:
  schedule:
    # 参考 https://jasonet.co/posts/scheduled-actions/
    # note: 这里是GMT时间，北京时间减去八小时即可。如北京时间 22:30 => GMT 14:30
    # re: 目前已知在github的action runner上，访问国内相关的接口会大概率超时，如pskey和skey的获取，以及访问道聚城相关接口，故而先测试性的每日十点半运行一次，其他时候就不运行了
    # minute hour day month dayOfWeek
    - cron: '30 14 * * *' # GMT 14:30 => 北京时间 22:30
    #- cron: '30 16 * * *' # GMT 16:30（前一天） => 北京时间 00:30

jobs:
  run:

    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version-file: '.python-version'
          cache: 'pip'
          cache-dependency-path: '**/requirements*.txt'

      - name: Install Requirements Ubuntu
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -r requirements_linux.txt

      - name: Set time zone
        uses: szenius/set-timezone@v1.2
        with:
          timezoneLinux: "Asia/Shanghai"
          timezoneMacos: "Asia/Shanghai"
          timezoneWindows: "China Standard Time"

      - name: Chrome And Driver Cache On Ubuntu
        id: chrome-cache
        uses: actions/cache@v3
        with:
          path: |
            google-chrome*.deb
            chromedriver
          key: ${{ runner.os }}-chrome-${{ hashFiles('_ubuntu_download_chrome_and_driver.sh') }}
          restore-keys: |
            ${{ runner.os }}-chrome-

      - name: Download Chrome And Driver Ubuntu
        if: steps.chrome-cache.outputs.cache-hit != 'true'
        run: |
          bash _ubuntu_download_chrome_and_driver.sh

      - name: Install Chrome And Driver Ubuntu
        run: |
          bash _ubuntu_install_chrome_and_driver.sh

      - name: Run
        env:
          DJC_HELPER_CONFIG_TOML: ${{ secrets.DJC_HELPER_CONFIG_TOML }}
        run: |
          echo "$DJC_HELPER_CONFIG_TOML" > ./config.toml
          python main.py
